node_modules
.env

# Local chain data
era_test_node.log
anvil-zksync.log
.upgradable/ZKsync-era-test-node.json

# Hardhat files
/artifacts
/artifacts-zk/@openzeppelin
/artifacts-zk/build-info
/artifacts-zk/**/*.dbg.json
/cache
/cache-zk
/deployments-zk/zkSyncEraTestNode
/deployments-zk/localhost

# TypeChain files
/typechain
/typechain-types

